html 
    head uxispace 
    body 
        header 
            h1 uxispace 
            nav 
                ul
                    li home 
                    li contact 
        main 
            block content 
        footer 
            p Copyright © 2023 uxispace