extends base.pug

        h1 login
        form(action='/api/login', method='POST' enctype="application/x-www-form-urlencoded")
            label(for="email") Email: 
            input(type="email", name="email")
            label(for="password") Password: 
            input(type="password", name="password")
            button(type="submit") Login   